



<!-- <embed    src="music\Bdr first snow.mp3" width="300px" height="60px" autostart="false" align="absmiddle" border="1"/> -->
<span><a href="http://www.miitbeian.gov.cn/" target="_blank" class="text-muted">黔ICP备17011349号-1</a>  痕迹风个人网站</span>